<Modal @ref="modalRef">
	<ModalBackdrop />
	<ModalContent IsCentered="true" Size="ModalSize.ExtraLarge">
		<ModalHeader>
			<ModalTitle>@PersonData.Name @PersonData.Surname</ModalTitle>
			<CloseButton Clicked="@Close" />
		</ModalHeader>
		<ModalBody>
			
			<img src="@LinkViewModel.GetImageMedium(PersonData.Picture).ToString()" />
			@if (!string.IsNullOrEmpty(MVP_Url))
			{
				<a href="@MVP_Url" target="_blank">
					<i class="fab fa-microsoft" aria-hidden="true"></i>
				</a>
			}
			<Field>
				<FieldLabel>Name</FieldLabel>
				<TextEdit Placeholder="Enter name..." />
			</Field>
			<Field>
				<FieldLabel>Surname</FieldLabel>
				<TextEdit Placeholder="Enter surname..." />
			</Field>
		</ModalBody>
		<ModalFooter>
			<Button Color="Color.Primary" Clicked="@Close">Ok</Button>
		</ModalFooter>
	</ModalContent>
</Modal>