@page "/community"

<Row>
	<Column ColumnSize="ColumnSize.Is12">
		<div style="text-align:right;">
			<Button Clicked="Create"><Icon Name="IconAppName.Create"></Icon> Crea community</Button>
		</div>
	</Column>
</Row>
<Row>
	<Column ColumnSize="ColumnSize.Is12">
		<DataGrid TItem="CommunityUpdateViewModel" Data="@CommunityViewModels" ReadData="@LoadDataAsync" TotalItems="@Total"
				  ShowPager="true" PageSize="@PageSize" CurrentPage="@PageIndex" Editable="false" Striped="true">
			<DataGridColumns>
				<DataGridColumn TItem="CommunityUpdateViewModel" Field="@nameof(CommunityUpdateViewModel.Name)" Caption="Nome" Sortable="false"></DataGridColumn>
				<DataGridDateColumn TItem="CommunityUpdateViewModel" Field="@nameof(CommunityUpdateViewModel.WebSite)" Caption="Website" Sortable="false"></DataGridDateColumn>
				<DataGridColumn TItem="CommunityUpdateViewModel" Field="@nameof(CommunityUpdateViewModel.Managers)" Caption="Managers" Editable="false">
					<DisplayTemplate>
						<Badge Color="Color.Primary">@(( context as CommunityUpdateViewModel)?.Managers.Count)</Badge>
					</DisplayTemplate>
				</DataGridColumn>
				<DataGridColumn TItem="CommunityUpdateViewModel" Field="@nameof(CommunityUpdateViewModel.Confirmed)" Caption="#" Sortable="false">
					<DisplayTemplate>
						<Link Clicked="@(() => Edit(context))"><Icon Name="IconAppName.Edit"></Icon></Link>
						@*<Link Clicked="@(() => Delete(context.ShortName))"><Icon Name="IconAppName.Delete"></Icon></Link>*@
					</DisplayTemplate>
				</DataGridColumn>
			</DataGridColumns>
		</DataGrid>
	</Column>
</Row>
