@page "/event/reports"
@inherits ComponentBase

<Row>
	<Column ColumnSize="ColumnSize.Is4">
		<DateEdit @bind-Date="Search.StartDate"></DateEdit>
	</Column>
	<Column ColumnSize="ColumnSize.Is4">
		<DateEdit @bind-Date="Search.EndDate"></DateEdit>
	</Column>
	<Column ColumnSize="ColumnSize.Is2">
		<Button Clicked="SearchEvents">Ricerca</Button>
	</Column>
	<Column ColumnSize="ColumnSize.Is2">
		<Button Clicked="Export">Export</Button>
	</Column>
</Row>

<Row>
	@foreach (var e in ReportLists)
	{
		<Column ColumnSize="ColumnSize.IsHalf">
			<Card>
				<CardImage Source="@LinkViewModel.GetImageMedium(e.Logo).ToString()" Alt="Placeholder image">
				</CardImage>
				<CardBody>
					<CardTitle Size="6">@e.Name</CardTitle>
					<CardText>
						<Button Clicked="@(() => OpenNewTabLink(e.BuyTicket))"><Icon Name="@IconAppName.EventSeat"></Icon></Button>


						<span>@e.StartDate.ToShortDateString()</span> - <span>@e.EndDate.ToShortDateString()</span>
					</CardText>
				</CardBody>
				<CardFooter>
					@if (e.Community.Managers != null)
					{
						@foreach (var manager in e.Community.Managers)
						{
							<Button Clicked="@(() => OpenManagers(manager))">
								<Icon Name="@IconAppName.PersonPin"></Icon> @manager.Name
							</Button>
						}
					}
					<Button Clicked="@(() => OpenNewTabLink(e.Community.WebSite.ToString()))" Disabled="@(e.Community.WebSite == null)">
						<Icon Name="@IconAppName.Web"></Icon> Community
					</Button>
				</CardFooter>
			</Card>
		</Column>
	}
</Row>


<PersonModal @ref="personRef" PersonData="ManagerSelected"></PersonModal>
