@page "/event/edit/{id}"
<EditForm Model="EventViewModel" OnValidSubmit="Success">
	<FluentValidator></FluentValidator>
	<ValidationSummary />
	<Card>
		<CardHeader><CardTitle Size="5">Evento</CardTitle></CardHeader>
		<CardBody>
			<Row>
				<Column ColumnSize="ColumnSize.Is6">
					<TextEdit Placeholder="Nome evento" @bind-Text="EventViewModel.Name" />
					<ValidationMessage For="@(() => EventViewModel.Name)" />
				</Column>
				<Column ColumnSize="ColumnSize.Is6">
					<Addons>
						<Addon AddonType="AddonType.Body"><TextEdit Placeholder="Acquista biglietto" @bind-Text="EventViewModel.BuyTicket" /></Addon>
						<Addon AddonType="AddonType.End"><AddonLabel><Icon Name="@("event_seat")"></Icon></AddonLabel></Addon>
					</Addons>
					<ValidationMessage For="@(() => EventViewModel.BuyTicket)" />
				</Column>
			</Row>
			<Row>
				<Column ColumnSize="ColumnSize.Is4">
					<DateEdit TValue="DateTime" @bind-Date="@EventViewModel.StartDate" />
					<ValidationMessage For="@(() => EventViewModel.StartDate)" />
				</Column>
				<Column ColumnSize="ColumnSize.Is2">
					<TimeEdit TValue="TimeSpan" Time="StartHour" TimeChanged="StartDateTimeChanged" />
				</Column>
				<Column ColumnSize="ColumnSize.Is4">
					<DateEdit TValue="DateTime" @bind-Date="@EventViewModel.EndDate" />
					<ValidationMessage For="@(() => EventViewModel.EndDate)" />
				</Column>
				<Column ColumnSize="ColumnSize.Is4">
					<TimeEdit TValue="TimeSpan" Time="EndHour" TimeChanged="EndDateTimeChanged" />
				</Column>
			</Row>
			<Row>
				<Column ColumnSize="ColumnSize.Is6">
					<FileEdit Changed="@FilesReady" Progressed="@OnProgressed" Filter=".jpg, .png, .gif"></FileEdit>
				</Column>
				<Column ColumnSize="ColumnSize.Is6">
					@if (EventViewModel.Logo != null)
					{
						<Figure Size="FigureSize.Is256x256" style="text-align:center">
							<FigureImage Source="@LinkViewModel.GetImageMedium(EventViewModel.Logo).ToString()" AlternateText="@(EventViewModel.Community?.Name)" Style="border-color:black; border:2px;" />
							<FigureCaption>@EventViewModel.Community?.Name</FigureCaption>
						</Figure>
					}
				</Column>
			</Row>
		</CardBody>
	</Card>
	<Card>
		<CardHeader><CardTitle Size="5">Call for speaker</CardTitle></CardHeader>
		<CardBody>
			<Row>
				<Column ColumnSize="ColumnSize.Is12">
					<TextEdit Placeholder="Nome evento" @bind-Text="EventViewModel.CFP.Url" />
					<ValidationMessage For="@(() => EventViewModel.CFP.Url)" />
				</Column>
			</Row>
			<Row>
				<Column ColumnSize="ColumnSize.Is4">
					<DateEdit TValue="DateTime" @bind-Date="@EventViewModel.CFP.StartDate" />
					<ValidationMessage For="@(() => EventViewModel.CFP.StartDate)" />
				</Column>
				<Column ColumnSize="ColumnSize.Is2">
					<TimeEdit TValue="TimeSpan" Time="StartCFPHour" TimeChanged="StartDateCFPTimeChanged" />
				</Column>
				<Column ColumnSize="ColumnSize.Is4">
					<DateEdit TValue="DateTime" @bind-Date="@EventViewModel.CFP.EndDate" />
					<ValidationMessage For="@(() => EventViewModel.CFP.EndDate)" />
				</Column>
				<Column ColumnSize="ColumnSize.Is4">
					<TimeEdit TValue="TimeSpan" Time="EndCFPHour" TimeChanged="EndDateTimeCFPChanged" />
				</Column>
			</Row>
		</CardBody>
	</Card>
	<Card>
		<CardHeader><CardTitle Size="5"  >Community</CardTitle></CardHeader>
		<CardBody>
			<Row>
				<Column ColumnSize="ColumnSize.Is12">
					<CommunitySelect CommunitySelected="EventViewModel.Community.ShortName" CommunitySelectedChanged="SelectCommunity"></CommunitySelect>
					@*<TextEdit Placeholder="Nome evento" @bind-Text="EventViewModel.Community.Name" />*@
					<ValidationMessage For="@(() => EventViewModel.Community.ShortName)" />
				</Column>
			</Row>
		</CardBody>
	</Card>
	<Row>
		<Column ColumnSize="ColumnSize.Is12" style="text-align: center">
			<Button Type="ButtonType.Submit" Color="Color.Primary"><Icon Name="@("save")" /> Save</Button>
		</Column>
	</Row>
</EditForm>
