@page "/events"

<div class="mat-layout-grid">
	<div class="mat-layout-grid-inner">
		<div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
			<span>Lista Eventi</span>
		</div>
		<div class="mat-layout-grid-cell mat-layout-grid-cell-span-6" style="text-align:right;">
			<Button OnClick="Create">
				<Icon Name="IconName.Dashboard"></Icon> Crea evento
			</Button>
		</div>
	</div>
</div>


<DataGrid TItem="EventViewModelReadOnly"
		  Data="@EventViewModels"
		  ReadData="@LoadDataAsync"
		  TotalItems="@Total" 
		  ShowPager="true" 
		  PageSize="@PageSize" 
		  CurrentPage="@PageIndex">
	<DataGridColumns>
		<DataGridColumn TItem="EventViewModelReadOnly" Field="@nameof(EventViewModelReadOnly.Name)" Caption="Name" Sortable="false"></DataGridColumn>
	</DataGridColumns>
</DataGrid>

@*<Table Striped="true" FullWidth="true">
	<TableHeader ThemeContrast="ThemeContrast.Dark">
		<TableRow>
			<TableHeaderCell width="20%">Name</TableHeaderCell>
			<TableHeaderCell width="10%">Start Date</TableHeaderCell>
			<TableHeaderCell width="10%">End Date</TableHeaderCell>
			<TableHeaderCell width="35%">Community</TableHeaderCell>
			<TableHeaderCell width="10%">Tickets</TableHeaderCell>
			<TableHeaderCell>#</TableHeaderCell>
		</TableRow>
	</TableHeader>
	<TableBody>
		@foreach (var context in EventViewModels)
		{
			<TableRow>
				<td>@context.Name</td>
				<td>@context.StartDate.ToString("d")</td>
				<td>@context.EndDate.ToString("d")</td>
				<td>@context.Community?.Name</td>
				<td>
					@if (!string.IsNullOrEmpty(context.BuyTicket))
					{
						<Link To="@context.BuyTicket" Target="Target.Blank">
							<Icon Name="link"></Icon>
						</Link>
					}
				</td>
				<td>
					<div style="display:block;">

						<Button Clicked="@(() => Edit(context))">
							<Icon Name="edit"></Icon>
						</Button>
						<Button Clicked="@(() => Delete(context.Id))">
							<Icon Name="delete"></Icon>
						</Button>
					</div>
				</td>
			</TableRow>
		}
	</TableBody>	
</Table>*@
